/* Write your desired css here */
.container{
    background: linear-gradient(to bottom, yellow, orange);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}

.container h1{
    margin: 0;
}

.form{
    margin: 0;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.form button{
    color: #fff;
    background-color: rgb(135, 143, 235);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

