.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5dvw;
    gap: 20px;

    & h1{
        font-size: 7dvw;
    }

    & p{
        font-size: 2dvw;
    }
}