@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
li,
button {
  font-family: "Outfit", serif;
  color: #fff;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.heading{
  font-size: 7vw;
  text-align: center;
  margin-top: 3vh;
}